{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accordion</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="{% static 'secondStyle.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'accordionScript.js' %}"></script>
    <!-- <script>
    $(document).ready(function(){
        var dark = false;
        $("#theme").click(function(){
            $("body").toggleClass("dark-mode-bg");
            $("h1").toggleClass("dark-mode-fonts");
            $("#theme").toggleClass("dark-mode-button");
            if(dark==false) {
                $("#theme").text("Light Mode");
                dark = true;
            }
            else {
                $("#theme").text("Dark Mode")
                dark = false;
            }
        })
        $("#accordions").accordion({
            events: "click"
        });
    });    
    </script> -->
</head>

<body>
    <h1>MY SEVENTH STORY</h1>
    <div class="container-fluid" id="btn-cont">
        <button id="theme" type="button" class="btn btn-dark">Dark Mode</button>
    </div>
        <div class="row">
        <div class="col-10 col-md-6 col-xl-4" id="accordions">
            <h3 class=".accordion">Activity</h3>
            <div class=".description"><p>
                Currently busy working on academic assignment, especially $(this).matkul() and SDA.
            </p></div>
            <h3 class=".accordion">Experiences</h3>
            <div class=".description"><p>
                Currently engaged in BEM organization (Bismit division), acts as PIC of Sponsorship and 
                Partnership, and works as Assistant Lecturer of DDP2.
            </p></div>
            <h3 class=".accordion">Achievements</h3>
            <div class=".description"><p>
                Achievements : PPW story 1-now.<br>
                (and makes accordion with jQuery of course)
            </p></div>
        </div>
    </div>
    
</body>
</html>