body {
    transition: 1s ease;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

h3 {
    
}

#accordions {
    margin: 0 auto;
}

#btn-cont {
    text-align: center;
    margin: 0 auto 50px auto;
}

#theme {
    margin: 0 auto;
    transition: 1s;
}

.ui-accordion-header {
    background-color: rgb(54, 54, 54);
    color: aliceblue;
}

.ui-state-active {
    border: 2px solid greenyellow;
}

.dark-mode-bg {
    background-color: rgb(54, 54, 54);
}

.dark-mode-fonts {
    color: rgb(212, 212, 212);
}

.dark-mode-button {
    border: 5px solid greenyellow;
}

.dark-mode-button-text {

}