
h1 {
    margin-top: 50px;
    margin-bottom: 100px; 
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}


.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.description {
    width: 60vw;
    padding: 0 18px;
    background-color: white;
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.dark-mode-bg {
    background-color: rgb(41, 40, 40);
}

.dark-mode-fonts {
    color: rgb(192, 192, 192);
}

#theme {
    display: block;
    align-self: center;
}
